.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.title {
  font-size: 4rem;
}
.text {
  opacity: 0.8;
}