.article {
  padding: 1rem;
}
.article:hover {
  cursor: pointer;
  background: var(--primary);
  color: var(--bg);
  transition: all 0.3s ease-in-out;
}
.article img{
  width: 15rem;
  height: 15rem;
}
.article p {
  font-size: 16px;
}
.eng {
  font-size: 14px;
  opacity: 0.7;
}
@media (max-width: 767px) {
.article img{
  width: 160px;
  height: 160px;
}
}
