.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video_wrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none; /* 클릭 방지 */
}
.video_wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
}
.video_wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}
.video_content {
  position: absolute;
  z-index: 2;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #f8fafc;
  gap: 2rem;
  margin-left: 20%;
}
.video_content p {
  margin: 0;
  color: rgba(245, 245, 245, 0.87);
  font-size: clamp(1rem, 2vw, 2.5rem);
}
.video_content h1 {
  margin: 0;
  color: rgb(245, 245, 245);
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
}

.product_section{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.product_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 3rem;
  border-bottom: 1px solid var(--border);
}


@media (max-width: 1023px) {
.list {
  gap: 0.8rem;
}
  .video_wrapper iframe {
    width: 160%;
    height: 160%;
  }
}

@media (max-width: 767px) {
.product_list {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap : 0;
}
.video_section {
  height: 100svh;
  min-height: 100vh;
}
.video_content {
  margin-left: 10%;
}
.video_content h1  {
  font-size: 1rem;
}
.video_content p {
  font-size: 0.8rem;
}
.video_wrapper iframe {
    width: 220%;
    height: 220%;
  }
.product_list {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
}