.container {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;
}
.content {
  border: 1px solid var(--border);
  padding: 1rem;
}
.title {
  font-size: 4rem;
}
.desc {
  font-size: 12px;
  opacity: 0.8;
}
.container form {
  width: 70%;
  height: 100%;
  display: flex;  
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.container input ,
.container textarea {
  outline: none;
}
.container input {
  background-color: var(--bg);
  border: none;
  border-bottom: 1px solid var(--border);
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
  font-size: 1.2rem;
}
.container textarea {
  border: 1px solid var(--border);
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
  font-size: 1.2rem;
}
.contact_line {
  display: flex;
  margin: 0;
  gap: 1rem;
}
.contact_wrapper {
  width: 100%;
  height: 100%;
  height: max-content;
  position: relative;
  margin-top: 1rem;
}
.contact_wrapper input{
  width: max-content;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--text);
  transition: 1s;
  outline: none;
}
.contact_wrapper label{
  transition: 0.2s;
  position: absolute;
  left: 10px;
  top: 50%; 
  transform: translateY(-50%);
  pointer-events: auto; /* 클릭 가능 */
  cursor: text;
}


.contact_wrapper  input:focus ~ label,
.contact_wrapper  input:not(:placeholder-shown) ~ label,
.contact_wrapper textarea:focus ~ label,
.contact_wrapper textarea:not(:placeholder-shown) ~ label{
  top: 0;
  transform: translateY(-100%);
  font-size: 0.8rem;
}
.contact_wrapper  input:focus {
  border-bottom: 1px solid var(--primary);
}