.item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}
.item img {
  width: 15rem;
  height: 15rem;
}

.item:hover {
  cursor: pointer;
  background: var(--primary);
  color: var(--bg);
  transition: all 0.3s ease-in-out;
}

.item:hover > img {
  transform: scale(1.5);
  transition: all 0.3s ease;
}