.item {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

.item::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--border);
  margin: 1rem 0;
}

.detail {
  display: none;
  position: relative;
  z-index: 1;
}
.item p {
  width: 100%;
}
.item p:nth-child(3) {
  font-size: 14px;
  opacity: 0.7;
}
.item img {
  width: 100%;
  height: 100%;
}

.item:hover {
  cursor: pointer;
  background: color-mix(in srgb, var(--primary) 10%, transparent);
  transition: all 0.3s ease-in-out;
  }

.detail {
  position: absolute;
  height: 100%;
  padding: 1rem;
  display: none;
}

.item:hover > .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background: var(--primary);
  color: var(--bg);
  transition: all 0.3s ease;
}
