.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  margin: 0;
  padding: 2rem
}
.container div {
  margin: 0;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.title {
  margin: 0;
  font-size: 2rem;
}
.bar {
  margin: 1rem 0;
  width: 100%;
  border: 1px solid var(--border);
}
.content span {
  opacity: 0.7;
}
.content p{
  margin: 0;
  text-wrap: wrap;
  white-space: pre-line;
}
.img_wrapper {
  width: 40rem;
}
.img_wrapper img {
  width: 100%;
  height: 100%;
}