.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bg);
}
.main {
  background: var(--bg);
  color: var(--text);
  width: 100%;
  height: 100%;
  flex : 1;
}